<h1 style="text-align:center">Place your bets</h1>
<h2 style="text-align:center">Previous matches</h2>
<div fxLayout="column" class="match">
    <div>21:00</div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="49" fxLayout="row" fxLayoutAlign="end center">
            <img src="../assets/1.png" style="padding-right:30px" />
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3 style="margin:5px 0 0 0">KOREA REP CHI</h3>
                <h1 style="margin:30px">3</h1>
            </div>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="49" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3 style="margin:5px 0 0 0">KOREA REPUBLIK</h3>
                <h1 style="margin:30px">3</h1>
            </div>
            <img src="../assets/1.png" style="padding-left:30px" />
        </div>
    </div>
    <div>Your bet was Korea - Russia 2:0. You won 3<mat-icon class="point">grade</mat-icon>.</div>
</div>
<h2 style="text-align:center">Next matches</h2>
<div fxLayout="column" class="match">
    <div>21:00</div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="49" fxLayout="row" fxLayoutAlign="end center">
            <img src="../assets/1.png" style="padding-right:30px" />
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3 style="margin:5px 0 0 0">KOREA REP CHI</h3>
                <h1 style="margin:0">
                    <mat-form-field style="width:50px; text-align:center; padding-bottom:0">
                        <input matInput type="number">
                    </mat-form-field>
                </h1>
            </div>
        </div>
        <div fxFlex="2"></div>
        <div fxFlex="49" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3 style="margin:5px 0 0 0">KOREA REPUBLIK</h3>
                <h1 style="margin:0">
                    <mat-form-field style="width:50px; text-align:center; padding-bottom:0">
                        <input matInput type="number">
                    </mat-form-field>
                </h1>
            </div>
            <img src="../assets/1.png" style="padding-left:30px" />
        </div>
    </div>
    <div>Place your bets above.</div>
</div>
