/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Salsa');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title-big {
    font-family: 'Salsa', cursive;
    font-size:2em;
    font-weight:600;
}
